@use '../../../assets/styles/variables.scss' as *;

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    @include title-font();
    font-size: 5rem;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
    margin: 0;
  }
  img {
    width: auto;
    margin: 2% 0;
    height: 20%;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #000;
    background-size: contain;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: center;
    margin: 1%;
    padding: 5px 10px;
    font-size: 1.5rem;
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    box-shadow: 0 0 5px #000;
  }
}
